[mysqld]

datadir = /var/lib/mysql
user = mysql
bind-address = 0.0.0.0

# In order for Galera to work correctly binlog format should be ROW
binlog_format = ROW

# MyISAM storage engine has only experimental support
default_storage_engine = InnoDB

# This is a recommended tuning variable for performance
innodb_locks_unsafe_for_binlog  = 1

# This changes how InnoDB autoincrement locks are managed and is a requirement for Galera
innodb_autoinc_lock_mode = 2

!includedir /etc/mysql/conf.d
