---
- name: discover keystone setup status
  command: mysql --batch --silent keystone -e "select type from service where type = 'compute'"
  failed_when: false
  register: keystone_setup

- name: set keystone_configured fact
  set_fact: keystone_configured=True
  when: keystone_setup.stdout|search("compute")

- name: keystone bootstrap user
  command: keystone-manage bootstrap
  environment:
    OS_BOOTSTRAP_USERNAME: "{{ keystone.bootstrap.user }}"
    OS_BOOTSTRAP_PASSWORD: "{{ keystone.bootstrap.password }}"
    OS_BOOTSTRAP_PROJECT_NAME: "{{ keystone.bootstrap.project }}"
    OS_BOOTSTRAP_ROLE_NAME: "{{ keystone.bootstrap.role }}"
    OS_BOOTSTRAP_ADMIN_URL: "{{ endpoints.keystone.url.public }}"
    OS_BOOTSTRAP_INTERNAL_URL: "{{ endpoints.keystone.url.internal }}"
    OS_BOOTSTRAP_PUBLIC_URL: "{{ endpoints.keystone.url.public }}"
    OS_BOOTSTRAP_SERVICE_NAME: "keystone"
    OS_BOOTSTRAP_REGION_NAME: "RegionOne"

- name: keystone tenants
  keystone_user: tenant={{ item }}
                 tenant_description="{{ item }} tenant"
                 auth_url="http://127.0.0.1:5002"
                 login_tenant_name=admin
                 login_username=admin
                 login_password={{ secrets.admin_password }}
  with_items: "{{ keystone.tenants }}"

- name: keystone users
  keystone_user: user={{ item.name }}
                 password={{ item.password }}
                 tenant={{ item.tenant }}
                 auth_url="http://127.0.0.1:5002"
                 login_tenant_name=admin
                 login_username=admin
                 login_password={{ secrets.admin_password }}
  with_items: "{{ keystone.users }}"

- name: keystone roles
  keystone_user: role={{ item }}
                 auth_url="http://127.0.0.1:5002"
                 login_tenant_name=admin
                 login_username=admin
                 login_password={{ secrets.admin_password }}
  with_items: "{{ keystone.roles }}"

- name: keystone user roles
  keystone_user: role={{ item.role }}
                 user={{ item.user }}
                 tenant={{ item.tenant }}
                 auth_url="http://127.0.0.1:5002"
                 login_tenant_name=admin
                 login_username=admin
                 login_password={{ secrets.admin_password }}
  with_items: "{{ keystone.user_roles }}"

- name: heat stack user
  keystone_user: user=heat_stack_user
                 password="{{ secrets.service_password }}"
                 tenant=admin
                 auth_url="http://127.0.0.1:5002"
                 login_tenant_name=admin
                 login_username=admin
                 login_password={{ secrets.admin_password }}
  when: heat.enabled|bool

- name: heat stack user role
  keystone_user: role=heat_stack_user
                 user=heat_stack_user
                 tenant=admin
                 auth_url="http://127.0.0.1:5002"
                 login_tenant_name=admin
                 login_username=admin
                 login_password={{ secrets.admin_password }}
  when: heat.enabled|bool

- include: federation.yml
  when: keystone.federation.enabled|bool
  tags:
    - keystone-federation
