tox
pep8
oslo.utils
shade>=1.7.0
ansible>=2.0.2.0,<3
python-novaclient
python-glanceclient
python-cinderclient
python-neutronclient
python-keystoneclient
-e git://github.com/blueboxgroup/ursula-cli.git@ansible-2.0#egg=ursula-cli
