ansible==1.7.2
python-novaclient==2.19.0
python-neutronclient==2.3.6
python-keystoneclient
python-glanceclient
python-cinderclient
oslo.utils
tox
pep8
-e git://github.com/masteinhauser/ansible-lint.git@egg_info#egg=ansible-lint
