---
secrets:
  admin_token:      843ut8hahgAEdfkJieijKF
  db_password:      sadfjiejiehinrbirnb348
  service_password: &service_password oiieanxknra.r3i5lkajbe
  rabbit_password:  guest
  admin_password:   &admin_password kilgore
  metadata_proxy_shared_secret: ijeiwfjivnsidnwe3jihji
  horizon_secret_key:           knbiieohjlkieo3id9iajf

endpoints:
  db:       15.185.117.129
  keystone: 15.185.117.129
  rabbit:   15.185.117.129
  nova:     15.185.117.129
  glance:   15.185.117.129
  quantum:  15.185.117.129

openstack:
  pypi_mirror: https://pypi.openstack.org/openstack
  git_mirror:  https://review.openstack.org/openstack

nova:
  rev: master
  libvirt_type: qemu
  compute_driver: nova.virt.libvirt.LibvirtDriver

horizon:
  rev: master

quantum:
  rev: master
  tenant_network_type: gre
  physical_bridge: br-ex
  physical_network: br-ex
  tenant_network_type: gre
  enable_tunneling: True
#  fixed_range: "172.16.100.0/24"
#  fixed_net_name: tenants
#  ovs_range: "172.16.100.0/24"

glance:
  rev: master
  images:
    - name: cirros
      url: https://launchpad.net/cirros/trunk/0.3.0/+download/cirros-0.3.0-x86_64-disk.img

keystone:
  rev: master
  tenants:
    - admin
    - service
    - demo

  users:
    - name: admin
      password: *admin_password
      tenant: admin
    - name: demo
      password: demopass
      tenant: demo

    - name: nova
      password: *service_password
      tenant: service
    - name: glance
      password: *service_password
      tenant: service
    - name: quantum
      password: *service_password
      tenant: service

  user_roles:
    - user: admin
      tenant: admin
      role: admin
    - user: admin
      tenant: demo
      role: admin
    - user: nova
      tenant: service
      role: admin
    - user: glance
      tenant: service
      role: admin
    - user: quantum
      tenant: service
      role: admin

  # TODO: fill ips/hostnames in dynamically.
  services:
    - name: keystone
      type: identity
      description: 'Identity Service'
      public_url: http://15.185.117.129:5000/v2.0
      internal_url: http://15.185.117.129:5000/v2.0
      admin_url: http://15.185.117.129:35357/v2.0
    - name: nova
      type: compute
      description: 'Compute Service'
      public_url: http://15.185.117.129:8774/v2/%(tenant_id)s
      internal_url: http://15.185.117.129:8774/v2/%(tenant_id)s
      admin_url: http://15.185.117.129:8774/v2/%(tenant_id)s
    - name: glance
      type: image
      description: 'Image Service'
      public_url: http://15.185.117.129:9292
      internal_url: http://15.185.117.129:9292
      admin_url: http://15.185.117.129:9292
    - name: quantum
      type: network
      description: 'Network Service'
      public_url: http://15.185.117.129:9696
      internal_url: http://15.185.117.129:9696
      admin_url: http://15.185.117.129:9696

