---
common:
  hwraid:
    enabled: True
    clients:
      - tw-cli
      - megacli
  ipmi:
    enabled: True
    serial_console: ttyS1
    state: probe
    baud_rate: 115200
  python_extra_packages: []
  ntpd:
    servers: []
    #  - servertime.service.softlayer.com
  serial_console:
    enabled: True
    name: ttyS0
  ssh_private_keys: []
  ssh:
    allow_from:
      - 0.0.0.0/0
      - ::/0
    disable_root: False
    disable_dns: True
  pip_version: 8.0.2
  setuptools_version: system
  ursula_monitoring:
    path: /opt/ursula-monitoring
    method: git # git|tar
    git_repo: https://github.com/blueboxgroup/ursula-monitoring.git
    git_rev: master
    tar_url: https://github.com/blueboxgroup/ursula-monitoring/archive/master.tar.gz
    tar_version: master
  system_tools:
    mcelog: True
  packages_to_remove:
    - language-selector-common
  logs:
    - paths:
        - /var/log/audit/audit.log
      fields:
      type: syslog
      tags: audit,common
  logging:
    debug: False
    verbose: True
  monitoring:
    sensu_checks:
      check_lro:
        warning: False
        enabled: True
        devices: "{{ hostvars[inventory_hostname][primary_interface]|net_physical_devices|join(',') }}"
      check_static_route:
        criticality: 'critical'
      check_raid:
        criticality: 'critical'
    scan_for_log_errors: False

openstack:
  gem_sources:
    - https://gem-mirror.openstack.blueboxgrid.com
