---
- name: restart-swift-container-services
  service:
    name: "{{ item }}"
    state: restarted
  with_items:
    - swift-container
    - swift-container-auditor
    - swift-container-replicator
    - swift-container-sync
    - swift-container-updater
