---
- name: install common neutron packages
  apt: pkg={{ item }}
  with_items:
    - vlan
    - bridge-utils

- name: 'Configure VXLAN to use IANA assigned port: 4789'
  copy: content="options vxlan udp_port=4789"
        dest=/etc/modprobe.d/vxlan-port.conf owner=root group=root mode=0644

- name: check if neutron user exists
  shell: getent passwd neutron
  register: neutron_user
  failed_when: False
  changed_when: False

- name: neutron user
  user: name=neutron shell=/bin/false createhome=no
  when: neutron_user|success

- name: neutron user
  user: name=neutron comment=neutron shell=/bin/false system=yes
        home=/nonexistent createhome=no
  when: not neutron_user|success

- name: neutron sudoer
  template: src=etc/sudoers.d/neutron
            dest=/etc/sudoers.d/neutron
            owner=root
            group=root
            mode=0440

- name: install working alembic
  pip: name=alembic version={{ neutron.alembic_version }}
       extra_args="-i {{ openstack.pypi_mirror }}" state=present

- name: get neutron source repo
  git: repo={{ openstack.git_mirror }}/neutron.git
       dest=/opt/stack/neutron
       version={{ neutron.rev }}
       update=yes
  register: result
  until: result|success
  retries: 3
  delay: 60
  notify:
    - pip install neutron
    - neutron rootwrap
    - restart neutron services

- meta: flush_handlers

- name: neutron etc directories
  file: dest=/etc/neutron/services/loadbalancer/haproxy state=directory

- name: neutron libdir
  file: dest=/var/lib/neutron state=directory owner=neutron

- name: neutron cache dir
  file: dest=/var/cache/neutron state=directory mode=0700
        owner=neutron group=neutron

- name: neutron log dir
  file: dest=/var/log/neutron state=directory mode=0755
        owner=neutron group=neutron

# Neutron needs admin tenant uuid. This goes away after juno
# when neutron can use tenant_name.
- name: Fetch admin tenant info from keystone
  keystone_user: tenant=admin
                 endpoint=https://{{ endpoints.main }}:5001/v2.0/
                 login_tenant_name=admin
                 login_user=admin
                 login_password={{ secrets.admin_password }}
  register: admin_tenant

- name: neutron config
  template: src={{ item }} dest=/etc/neutron mode=0644
  with_fileglob: ../templates/etc/neutron/*
  notify:
     - restart neutron services

- name: error for unknown plugin
  fail: msg="Invalid Neutron plugin, must be either ml2 or ovs"
  when: neutron.plugin != 'ovs' and neutron.plugin != 'ml2'

- name: ml2 plugin dir
  file: dest=/etc/neutron/plugins/ml2 state=directory
  when: neutron.plugin == 'ml2'

- name: ml2 config
  template: src=etc/neutron/plugins/ml2/ml2_plugin.ini
            dest=/etc/neutron/plugins/ml2/ml2_plugin.ini
            mode=0644
  when: neutron.plugin == 'ml2'
  notify:
    - restart neutron services

- name: ovs plugin dir
  file: dest=/etc/neutron/plugins/openvswitch state=directory
  when: neutron.plugin == 'ovs'

- name: ovs config
  template: src=etc/neutron/plugins/openvswitch/ovs_neutron_plugin.ini
            dest=/etc/neutron/plugins/openvswitch/ovs_neutron_plugin.ini
            mode=0644
  when: neutron.plugin == 'ovs'
  notify:
    - restart neutron services

- name: set up log rotation for neutron
  logrotate: name=neutron path=/var/log/neutron/*.log
  args:
    options:
      - daily
      - missingok
      - rotate 7
