---
- name: create ceph directory
  file:
    path: /etc/ceph
    state: directory

- name: create ceph log directory
  file: dest=/var/log/ceph state=directory mode=2750 owner=root group=adm

- name: Change ceph log dir acl
  acl: name=/var/log/ceph state=present default=yes etype={{ item.etype }} permissions={{ item.permission }}
  with_items:
    - etype: user
      permission: rw
    - etype: group
      permission: r
    - etype: other
      permission: r

- name: install dependencies
  apt: pkg={{ item }}
       state=present
       update_cache=yes
       cache_valid_time=3600
  with_items: ceph.debian_pkgs

- name: install ceph
  apt: pkg={{ item }}
       state=present
  with_items: ceph.ceph_pkgs

- name: check for a ceph socket
  shell: "stat /var/run/ceph/*.asok > /dev/null 2>&1"
  changed_when: false
  failed_when: false
  register: ceph_socket

# generate uuid for ceph.conf
# truncate is to get rid of the newline
- name: generate fsid file
  shell: uuidgen > /etc/ceph/fsid && truncate -s -1 /etc/ceph/fsid
         creates=/etc/ceph/fsid
  run_once: true
  delegate_to:  "{{ groups['ceph_monitors'][0] }}"

- name: fetch contents of fsid file
  slurp: path=/etc/ceph/fsid
  run_once: true
  delegate_to: "{{ groups['ceph_monitors'][0] }}"
  register: fsid_file

# for redundancy, and if the hosts in mons get reordered
- name: copy fsid to all hosts
  copy:
    dest: "{{ fsid_file['source'] }}"
    content: "{{ fsid_file['content'] | b64decode }}"

# generate uuid for cinder.conf and secret.xml
# truncate is to get rid of the newline
- name: generate cinder uuid
  shell: uuidgen > /etc/ceph/cinder_uuid && truncate -s -1 /etc/ceph/cinder_uuid
         creates=/etc/ceph/cinder_uuid
  run_once: true
  delegate_to:  "{{ groups['ceph_monitors'][0] }}"

- name: fetch contents of uuid file
  slurp: path=/etc/ceph/cinder_uuid
  run_once: true
  delegate_to: "{{ groups['ceph_monitors'][0] }}"
  register: cinder_uuid_file

# for redundancy, and if the hosts in mons get reordered
- name: copy uuid to all hosts
  copy:
    dest: "{{ cinder_uuid_file['source'] }}"
    content: "{{ cinder_uuid_file['content'] | b64decode }}"

- name: generate ceph configuration file
  template: src=etc/ceph/ceph.conf
            dest=/etc/ceph/ceph.conf
            owner=root
            group=root
            mode=0644
  notify:
    - restart ceph mons
    - restart ceph osds

- include: logging.yml
  tags:
    - logrotate
    - logging
  when: logging.enabled|default('True')|bool
