---
- include: ssh.yml
  when: nova.enable_ssh|bool

- include: libvirt.yml
  when: nova.compute_driver == "nova.virt.libvirt.LibvirtDriver"

- include: docker.yml
  when: nova.compute_driver == "novadocker.virt.docker.DockerDriver"

- name: nova instances directory
  file: dest=/var/lib/nova/instances state=directory owner=nova

- name: nbd module
  lineinfile: dest=/etc/modules line="nbd"

- name: probe nbd
  modprobe: name=nbd state=present

- lineinfile: dest=/etc/modules line="nbd"

- modprobe: name=nbd state=present

- name: cinder encryption key
  template: src=etc/nova/nova.cinder_encryption.conf dest=/etc/nova/nova.cinder_encryption.conf mode=0640
            owner=root group=nova
  notify: restart nova services
  when: cinder.fixed_key is defined

- name: install nova-compute service
  upstart_service: name=nova-compute user=nova cmd=/usr/local/bin/nova-compute
                   config_dirs=/etc/nova

- name: start nova-compute
  service: name=nova-compute state=started

- name: allow vnc access for console
  ufw: rule=allow port=5900:6100 proto=tcp

- include: monitoring.yml tags=monitoring,common


