---
dependencies:
  - role: endpoints
  - role: monitoring-common
  - role: logging-config
    service: ceilometer
    logdata: "{{ ceilometer.logs }}"
  - role: openstack-source
    project_name: ceilometer
    project_rev: "{{ ceilometer.source.rev }}"
    alternatives: "{{ ceilometer.alternatives }}"
    python_dependencies: "{{ ceilometer.source.python_dependencies }}"
    when: openstack_install_method == 'source'
  - role: openstack-package
    project_name: ceilometer
    alternatives: "{{ ceilometer.alternatives }}"
    when: openstack_install_method == 'package'
