---
- name: neutron networks
  action: |
    neutron_network
      name={{ item.name }}
      provider_network_type={{ item.network_type }}
      state=present
      shared={{ item.shared }}
      router_external={{ item.external }}
      provider_segmentation_id={{ item.segmentation_id }}
      auth_url=http://{{ endpoints.main }}:5000/v2.0/
      login_tenant_name=admin
      login_password={{ secrets.admin_password }}
  with_items: neutron.networks

#- name: neutron subnets
#  action: |
#    neutron_subnet
#      name={{ item.name }}
#      network_name={{ item.network_name }}
#      cidr={{ item.cidr }}
#      enable_dhcp={{ item.enable_dhcp }}
#      gateway_ip={{ item.gateway_ip }}
#      ip_version={{ item.ip_version }}
#      state=present
#      auth_url=http://{{ endpoints.main }}:5000/v2.0/
#      login_tenant_name=admin
#      login_password={{ secrets.admin_password }}
#  with_items: neutron.subnets

#- name: neutron routers
#  action: |
#    neutron_router
#      state=present
#      name={{ item.name }}
#      tenant_name={{ item.tenant_name }}
#      admin_state_up=true
#      auth_url=http://{{ endpoints.main }}:5000/v2.0/
#      login_tenant_name=admin
#      login_password={{ secrets.admin_password }}
#  with_items: neutron.routers

#- name: neutron router interfaces
#  action: |
#    neutron_router_interface
#      router_name={{ item.router_name }}
#      subnet_name={{ item.subnet_name }}
#      tenant_name={{ item.tenant_name }}
#      state=present
#      auth_url=http://{{ endpoints.main }}:5000/v2.0/
#      login_tenant_name=admin
#      login_password={{ secrets.admin_password }}
#  with_items: neutron.router_interfaces
